.navbar {
    transition: all 0.3s ease-in-out;
}

.bg-opacity {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.header {
    min-height: 1130px;
    background: 
        linear-gradient(
            to bottom right, 
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 0.8)
        ),
        url('../images/header-background.jpg') 
            center center no-repeat;
    background-size: cover;
}   

.header .slide {
    width: 90%;
    margin: 0 auto;
}

@media(max-width: 992px) {
    .navbar {
        opacity: 0.9;
        background: var(--bs-dark);
    }

    .register h2 {
        text-align: center;
    }
}

@media(max-width: 1100px) {
    .header {
        min-height: 800px !important;
    }
}

@media(min-width: 999px) and (max-width: 1099px) {
    .header {
        min-height: 1000px !important;
    }
}

@media(max-width: 999px) {
    .header {
        min-height: 950px !important;
    }
}

@media(max-width: 660px) {
    .header {
        min-height: 850px !important;
    }
}